@import '_variables.scss';

.add-credential {
    background: $background-color;
    padding: 20px;
    border: 1px solid $border-color;
    border-radius: 5px;
  
    .form-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
      }
  
      input {
        width: 98%;
        padding: 8px;
        border: 1px solid $border-color;
        border-radius: 5px;
      }
    }
  
    button {
      background: $primary-color;
      color: white;
      padding: 10px 40px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
  
      &:hover {
        background: darken($primary-color, 10%);
      }
      &:disabled {
        background-color: #ccc; 
        cursor: not-allowed;
      }
    }
  }
  