@import '_variables.scss';


.credential-card {
  background: $background-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 15px;

  input {
    width: 92% !important;
  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .truncate {
    margin: 0;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;

    .text {
      display: inline-block;
      vertical-align: middle;
      max-width: calc(100% - 30px); /* Adjust based on your icon width */
      overflow: hidden;
      text-overflow: ellipsis;
    }

    img {
      width: 10px; /* Adjust based on your icon size */
      margin-left: 10px;
      vertical-align: middle;
    }

    img.highlighted {
      padding: 2px;
      cursor: pointer;
    }

    img.highlighted:hover {
      transform: scale(1.2);
    }
    input {
      width: 92% !important;
    }
  }

  .cta {
    border: none;
    /* opacity: 0.45; */
    background: #D8D8D8;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
  }

  .button-group {
    margin-top: 10px;

    button {
      background: $secondary-color;
      color: white;
      padding: 8px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 5px;

      &:hover {
        background: darken($secondary-color, 10%);
      }
    }
  }
}
